h3:hover {
    /* background-color:  rgb(135, 202, 233);
    cursor: pointer;
    border-radius: 5px; */
    box-shadow: 0 5px 5px rgba(110, 109, 109, 0.829);
}

h3 {
    color: white;
    cursor: pointer;
    top: 1px;
    left: 0;
    bottom: 1px;
    right: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    transition: box-shadow .5s ease, transform .2s ease; 
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transform:
        translateY(var(--ty, 0))
        rotateX(var(--rx, 0))
        rotateY(var(--ry, 0))
        translateZ(var(--tz, -12px));
}

h1,h2{
    font-weight: bold;
}

.recipients{
    font-style:oblique;
    text-align:center;
    font: Serif;
    border-style:solid;
    border-width:small;
    border-left-style:none;
    border-right-style:none;
}

.recipientList{
    font-style:oblique;
    font-weight: bold;
    border-style:solid;
    border-width:small;
    text-align:center;
    padding:1px;
    border-left-style:none;
    border-right-style:none;
    border-top-style:none;
    
}

.messagesView{
    height:478px;
}

.messagesSender{
    font-style:oblique;
    font-weight: bold;
    font-size: large;
    line-height: 30px;
}

.messagesDate{
    font-style:oblique;
    font-size: medium;   
}

.messagesContent{
    font-style:normal;
    color:  rgb(26, 157, 218);
    font-weight: bold;
    font-size: large;
}

.wholeView{
    border-style:solid;
    border-width:small;
    width:1000px;
}

.leftBar{
    width:250px; 
    height:500px;
    float: left;
    border-style:solid;
    border-width:medium;
    border-top-style:none;
    border-bottom-style:none;
    border-left-style:none;
    overflow-y: scroll;
}

.rightBar{
    width:745px; 
    height:500px;
    float: right;
    overflow-y: scroll;
    border-style:solid;
    border-width:medium;
    border-left-style:none;
}

.inputWhole{
    width:1000px; 
    padding-left: 252px;
    /* border-style:solid;
    border-width:medium;
    border-left-style:none;
    border-right-style:none; */
}

.inputLine{
    padding-top: 10px;
    padding-bottom: 10px;
}